@model IEnumerable<BCS.DisruptOp.Models.Disrupt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarrierCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaxDLOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaxDLLive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recovery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffComms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerComms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarrierCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Severity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaxDLOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaxDLLive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recovery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffComms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerComms)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
